body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:radial-gradient( rgb(183, 183, 211),rgb(255, 255, 255));
}

 

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* header code here */
.subjects{
  display: flex;
  list-style-type: none;
  float: right;
  gap: 30px;
  margin-right:30px;
  padding: 20px;

}
.header img{
  border-radius: 50%;
  transform: translate(0px);
  transition: all 0.5s ease;
  background:transparent;
  margin: 20px;
}


.header img:hover{
  transform: translate(20px);
}

.subjects li:hover{
  color: coral;
  font-weight: 600;
  transition: all 0.3s ease;
  
  cursor: pointer;
}

/* aboutme code */
.aboutme img{
  border-radius: 50%;
/* margin: 10px 10px 0px 200px; */
align-items: center;
justify-content: center;

}

.intro p{
  width: 100%;
  margin-left: auto;
  text-align: center;
  justify-content:center;
  font-family: "Anton", serif;
  font-weight: 600;
  line-height: 2em;
  font-size: 30px;
}
.aboutme h1{
  margin-left: auto;
  margin-top: 20px;
  font-family: "Dancing Script", serif;
  font-size: 70px;
}
p span{
  color: coral;
  font-weight: 900;
  animation: role 5.5s linear infinite;
  transition: all .5s ease;
  
}
@keyframes role{
  0%{
    color: rgb(248, 175, 4)
  }
  20%{
    color: brown;

  }
  50%{
    color: rgb(57, 140, 217);
  }
  70%{
    color: rgb(228, 46, 46);
  }
  100%{
    color: rgb(0, 95, 247);
  }
}
 img{
  background: transparent;
  backdrop-filter: blur(20px);
 width: auto;
 
}
/* .resumebtn{
  height: 60px;
  justify-content: center;
  text-align: center;
  padding: 20px;
  margin: 20px;
  margin: 30px 120px 110px 120px ;
  width: 100%;
  display: flex;
   */
/* } */
.resumebtn a{
  text-decoration: none;
  font-weight: 600;
  background-color: coral;
  font-size: 20px;
  color: black;
  padding: 20px;
  border-radius: 5px;
  /* margin: 100px 0px 30px 50px ; */
  scale: 0.9;
  height: 10px;
  align-items: center;
  /* margin: 20px 40px 320px 380px  ; */
  /* display: flex;
  flex-direction: column;
  width: 160px; */
 
  
}

.img-btn{
  display: flex;
  flex: 1;
  align-items: center;
}
.resumebtn:hover{
  scale: 1.1;
  transition: all .2s ease-in-out;
}
.aboutme{
  display: flex;
  padding: 20px;
  width: auto;
  margin: auto;
  height: auto;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0px 10px 10px black;
  background:radial-gradient( rgba(202, 157, 112, 0.733),rgb(194, 160, 160));
}
.profile{
justify-content: center;
  flex-direction: column;
  scale: 1.1;
  margin: auto;
 width: auto;
  
 
}

/* content code */


.content h1{
  font-size: 85px;
  margin-top: 100px;
  justify-content: center;
  text-align: center;
  font-family: "Acme", serif;
}  
.content1{
  font-family: "Great Vibes", serif;
  background-image: linear-gradient(90deg, #a931a1 ,#d6296a ,#283dda );
  background-clip: text;
  color: transparent;
}
.bottom-shadow{
  
  color: transparent;
}
.learnmorebtn{
  background: linear-gradient(to bottom,red,grey);
}
/* From Uiverse.io by cssbuttons-io */ 
button {
  position:relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
 }
 
 button.learn-more {
  width: 12rem;
  height: auto;
 margin: 200px 0px 100px 0px;
 }
 
 button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
 }
 
 button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
 }
 
 button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
 }
 
 button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
 }
 
 button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
 }
 
 button:hover .circle {
  width: 100%;
 }
 
 button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
 }
 
 button:hover .button-text {
  color: #fff;
 }

 /* From Uiverse.io by wilsondesouza */ 
ul {
  list-style: none;
}

.example-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -400px;
  margin-top: -200px;
}
.example-2 .icon-content {
  margin: 0 10px;
  position: relative;
}
ul.example-2.container.col-12 {
  margin-left: -100px;
}
.example-2 .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}
.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 150%;
  color: #4d4d4d;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}
.example-2 .icon-content a:hover {
  color: white;
}
.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover .filled {
  height: 100%;
}

.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
  background-color: #0274b3;
}

.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"] ~ .tooltip {
  background-color: #24262a;
}
.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
  background: linear-gradient(
    45deg,
    #405de6,
    #5b51db,
    #b33ab4,
    #c135b4,
    #e1306c,
    #fd1f1f
  );
}
.example-2 .icon-content a[data-social="youtube"] .filled,
.example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
  background-color: #ff0000;
}
.links{
  margin-top: 250px;
  margin-left: 100px;
  margin-bottom: 20px;
  align-items: center;
 }

/* skills code here */


.skills {
  width: auto;
  
  height: auto;
  padding: 10px;
  margin-top: 20px;
  border-radius: 20px;
background-image: linear-gradient(150deg , rgb(199, 193, 193),rgb(241, 235, 235),grey);
  /* background-image: linear-gradient(45deg , #40afc8,rgba(27, 59, 166, 0.133)); */
}
.skills1{
  display: flex;
  flex-direction: row;
}



@media (max-width: 767.98px) {
  .responsive-image {
    max-width: 80%; /* Reduce image width on mobile */
    margin: 0 auto; /* Center the image */
  }
}
.skills h1{
  font-family: "Bebas Neue", serif;
  font-size: 80px;
}

.container1{
  position: relative;
  max-width: 300px;
  width: 100%;
  gap: 10px;
  background: #ececec;
  align-items: center;
  padding: 10px 20px;
  border-radius: 7px;
  background: transparent;
  backdrop-filter: blur(240px);
  border-radius: 20px;
  border: 2px solid black;
  box-shadow: 0px 10px 20px 9px black;
}
.container1 img:hover{
  transform: translate(10px,-10px);
  transition: all 0.3s ease;
  cursor: pointer;
}
.container1 .skill-box {
  width: 100%;
  margin: 25px 0;
}

.skill-box .title {
  display: block;
  font-size: 30px;
  color:#f20871;
  font-family: "Caveat", serif;
}

.skill-box .skill-bar {
  height: 8px;
  width: 100%;
  border-radius: 6px;
  font-family: "Darumadrop One", serif;
  margin-top: 6px;
  background: rgba(0,0,0,0.1);
}

.skill-bar .skill-per {
  position: relative;
  display: block;
  height: 100%;
  /* width: 90%; */
  border-radius: 0px 20px 0px 20px;
  background: #b433cb;
  animation: progress 1.5s ease-in-out forwards;
  opacity: 0;
}

.skill-per.html {
   
  width: 100%;
  animation-delay: 0.1s;
}

.skill-per.css {
         
  width: 70%;
  animation-delay: 0.1s;
}

.skill-per.javascript {
     
  width: 60%;
  animation-delay: 0.2s;
}

.skill-per.nodejs {
      
  width: 30%;
  animation-delay: 0.3s;
}
.skill-per.reactjs{
  width: 50%;
  animation-delay: 0.3s;
}
.skill-per.python{
  width: 60%;
  animation-delay: 0.3s;
}
.skill-per.java{
  width: 40%;
  animation-delay: 0.3s;
}
.skill-per.bootstrap{
  width: 80%;
  animation-delay: 0.3s;
}
.skill-per.github{
  width: 90%;
  animation-delay: 0.3s;
}
.skill-per.vscode{
  width: 100%;
  animation-delay: 0.3s;
}

@keyframes progress {
  0% {
    width: 0;
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.skill-per .tooltip {
  position: absolute;
  right: -24px;
  top: -28px;
  font-size: 9px;
  font-weight: 500;
  font-family: "Darumadrop One", serif;
  color: #070707;
  padding: 2px 6px;
  border-radius: 3px;
  background: #edeef1;
  z-index: 1;
}

.tooltip::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -2px;
  height: 10px;
  width: 10px;
  z-index: -1;
  background-color: #4070f4;
  transform: translateX(-50%) rotate(45deg);
}